.todo-item__container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: none !important;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 16px !important;
  margin: auto;
}
