.post-item__container {
  background: none !important;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.post-item__container > div {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 16px;
  width: 99%;
  margin-left: 0.5%;
  box-sizing: border-box;
}

.post-item__header div {
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
}

h3 {
  font-size: 24px;
}

p {
  text-align: left;
  font-size: 16px;
}
