.album-item__container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: none !important;
}

.album-item__header div {
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
}

h3 {
  font-size: 24px;
}
